<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BookStoreWebsiteProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>charsetfilter/CharsetFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500error.jsp</location>
  </error-page>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.live.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>sngermiyanoglu@hotmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>name</param-name>
    <param-value>Company XYZ</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>noyan1990</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.your-domain.com/taglib</taglib-uri>
      <taglib-location>/WEB-INF/tlds/functions.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>